.App {
  text-align: center;
}

body {
  width: 100%;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.player {
  width: 100%;
  display: flex;
  justify-content: center;
}

.border {
  width: 60%;
  object-fit: contain;
  border: 2px solid black;
  margin-top: 20px;
  /* border-radius: 10px; */
}

video {
  width: 100%;
  height: auto;
}

.d-flex-j-c-a-c {
  display: flex;
  justify-content: center;
  align-items: center;
}

.h-100 {
  max-height: 100px;
}