.App {
  text-align: center;
}
body{
  width: 100%;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

video {
  width: 100%;
  height: auto;
  margin-top: 20px;
}

.d-flex-j-c-a-c{
  display: flex;
  justify-content: center;
  align-items: center;
}